.adminusermanage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  grid-column-gap: 10px;

  padding: 10px;
  align-items: center;
  justify-content: center;
}
.formuser {
  display: flex;
  flex-direction: column;

  background-color: #cecece;
  border-radius: 20px;
  padding: 20px;
  height: 100vh;
}
.UserTable {
  display: flex;
  flex-direction: column;

  background-color: #cecece;
  border-radius: 20px;
  padding: 20px;
  height: 100vh;
}

/* ModernTable.css */
table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  background-color: #336CFF;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table thead th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  
}

table tbody td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
 
}




table tbody tr {
  background-color: #f2f2f2;
  transition: background-color 0.2s;

}
