
table, thead, th, tbody{
    padding: 1rem;
    width: 20px;
    
}

.compiler1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

textarea{
   width: 100%;
  min-height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
   
}