/* AdminPage.css */
.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.button-container {
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  flex-direction: column;
  margin-top: 20px;
}

button {
  padding: 30px 40px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #336CFF;
  background-color: #336CFF;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #4e4141;
  border: 1px solid #4e4141;
}
